@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --blue:#3498db;
    --red:#e74c3c;
    --orange:#f39c12;
    --black:#333;
    --white:#fff;
    --light-bg:#eee;
    --box-shadow:0 5px 10px rgba(0,0,0,.1);
    --border:2px solid var(--black);
 }
 
body {
    margin: 0;
    overflow: hidden; /* Sayfa kenarlarındaki boşlukları gizle */
    background: url('https://i.imgur.com/uGeKIVW.gif') center/cover no-repeat fixed; /* Gif linkini ekleyin */
    animation: fadeIn 2s ease-in-out; /* fadeIn animasyonunu 2 saniyede bir oynat, ease-in-out geçiş türü kullan */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  header {
    z-index: 1; /* Header'ın gif üzerinde olmasını sağla */
    /* Diğer header stil özellikleri */
  }
  header {
    background-color: #f0f0f0; /* Header arkaplan rengi */
    padding: 10px; /* Header içerisindeki içeriğin etrafındaki iç dolgu */
}

#menu {
    list-style-type: none; /* Liste stilini kaldır */
    margin: 0; /* Liste içerisindeki boşlukları sıfırla */
    padding: 0; /* Liste içerisindeki iç dolguları sıfırla */
    display: flex; /* Flexbox kullanarak öğeleri yan yana hizala */
    justify-content: space-between; /* Öğeler arasında eşit mesafe bırak */
    align-items: center; /* Öğeleri dikey olarak ortala */
}

#menu h1 {
    margin: 0; /* H1 içerisindeki boşlukları sıfırla */
    font-family: 'Arial', sans-serif; /* Yazı tipi değiştir */
    font-size: 24px; /* Yazı boyutunu ayarla */
}

#menu li {
    margin: 0 10px; /* Liste öğeleri arasında yatay boşluk bırak */
}

#menu a {
    text-decoration: none; /* Link altı çizgilerini kaldır */
    color: #555; /* Link rengi */
    font-weight: bold; /* Kalın font ağırlığı */
    border-radius: 15px; /* Oval kutucuk kenar yarıçapı */
    padding: 8px 15px; /* Link içindeki iç dolgu */
    transition: background-color 0.3s, color 0.3s; /* Arka plan ve yazı rengi değişimini 0.3 saniyede gerçekleştir */
    background-color: #f0f0f0; /* Varsayılan arka plan rengi */
}

#menu a:hover {
    background-color: #007bff; /* Linkin üzerine gelindiğinde arka plan rengini değiştir */
    color: #fff; /* Linkin üzerine gelindiğinde yazı rengini değiştir */
}
#content {
    
    
    flex-direction: column; /* İçerikleri dikeyde sırala */
    align-items: center; 
    justify-content: space-between;
    color: #fffcfc;
}

h2 {
    color: #ffffff;
    text-align: center;
    margin-top: 30px;

}
h3 {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;

}
h4 {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;

}

.product {
    display: inline-block; /* Ürünleri yatayda sırala */
    width: calc(33.33% - 30px); /* Ürünler arasında boşluk bırakarak eşit genişlik ayarla */
    box-sizing: border-box;
    margin: 10px;
}

.product img {
    width: 100%; /* Resimlerin genişliğini 100% olarak ayarla */
    height: auto; /* Otomatik yükseklik ayarı, orantıları koruyarak ölçeklenmesini sağla */
}

.product img {
    width: 100%; /* Resimlerin genişliğini 100% olarak ayarlar */
    height: auto; /* Otomatik yükseklik ayarı, orantıları koruyarak ölçeklenmesini sağlar */
}

/* Ürün başlık ve fiyat */
.product h3,
.product p {
    margin-top: 10px;
    text-align: center;
}



.thin {
    font-weight: normal;
}
/* Yeni CSS Kodu */

#category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 calc(40% - 20px); /* Kategorileri 2 sütunlu hale getirir ve aralarında 20px boşluk bırakır */
    box-sizing: border-box;
    margin: 10px;
}

.category img {
    width: 900px; /* Resimlerin genişliğini 100% olarak ayarlar */
    height: 600px; /* Otomatik yükseklik ayarı, orantıları koruyarak ölçeklenmesini sağlar */
    object-fit: fill; /* Resimleri içinde ölçeklendirir */
}

/* İlk iki kategoriye margin-bottom ekleyerek alttaki kategorilerden ayırır */
#category1,
#category2,
#category3,
#category4 {
    margin-bottom: 20px;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
 }
 
 *::-webkit-scrollbar{
    width: 10px;
    height: 5px;
 }
 
 *::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 *::-webkit-scrollbar-thumb{
    background-color: var(--blue);
 }
 
 body{
    background-color: var(--light-bg);
 }
 
 .message{
    position: sticky;
    top:0; left:0; right:0;
    padding:15px 10px;
    background-color: var(--white);
    text-align: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    color:var(--black);
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
 }
 
 .btn,
 .delete-btn,
 .option-btn{
    display: inline-block;
    padding:10px 30px;
    cursor: pointer;
    font-size: 18px;
    color:var(--white);
    border-radius: 5px;
    text-transform: capitalize;
 }
 
 .btn:hover,
 .delete-btn:hover,
 .option-btn:hover{
    background-color: var(--black);
 }
 
 .btn{
    background-color: var(--blue);
    margin-top: 10px;
 }
 
 .delete-btn{
    background-color: var(--red);
 }
 
 .option-btn{
    background-color: var(--orange);
 }
 
 .form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 70px;
 }
 
 .form-container form{
    width: 500px;
    border-radius: 5px;
    border:var(--border);
    padding:20px;
    text-align: center;
    background-color: var(--white);
 }
 
 .form-container form h3{
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color:var(--black);
 }
 
 .form-container form .box{
    width: 100%;
    border-radius: 5px;
    border:var(--border);
    padding:12px 14px;
    font-size: 18px;
    margin:10px 0;
 }
 
 .form-container form p{
    margin-top: 20px;
    font-size: 20px;
    color:var(--black);
 }
 
 .form-container form p a{
    color:var(--red);
 }
 
 .form-container form p a:hover{
    text-decoration: underline;
 }
 
 .container{
    padding:0 20px;
    margin:0 auto;
    max-width: 1200px;
    padding-bottom: 70px;
 }
 
 .container .heading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
    color:var(--black);
 }
 
 .container .user-profile{
    padding:20px;
    text-align: center;
    border:var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    margin:20px auto;
    max-width: 500px;
 }
 
 .container .user-profile p{
    margin-bottom: 10px;
    font-size: 25px;
    color:var(--black);
 }
 
 .container .user-profile p span{
    color:var(--red);
 }
 
 .container .user-profile .flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    align-items: flex-end;
 }
 
 .container .products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
 }
 
 .container .products .box-container .box{
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    border:var(--border);
    position: relative;
    padding:20px;
    background-color: var(--white);
    width: 350px;
 }
 
 .container .products .box-container .box img{
    height: 250px;
 }
 
 .container .products .box-container .box .name{
    font-size: 20px;
    color:var(--black);
    padding:5px 0;
 }
 
 .container .products .box-container .box .price{
    position: absolute;
    top:10px; left:10px;
    padding:5px 10px;
    border-radius: 5px;
    background-color: var(--orange);
    color:var(--white);
    font-size: 25px;
 }
 
 .container .products .box-container .box input[type="number"]{
    margin:10px 0;
    width: 100%;
    border:var(--border);
    border-radius: 5px;
    font-size: 20px;
    color:var(--black);
    padding:12px 14px
 }
 
 .container .shopping-cart{
    padding:20px 0;
 }
 
 .container .shopping-cart table{
    width: 100%;
    text-align: center;
    border:var(--border);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
 }
 
 .container .shopping-cart table thead{
    background-color: var(--black);
 }
 
 .container .shopping-cart table thead th{
    padding:10px;
    color:var(--white);
    text-transform: capitalize;
    font-size: 20px;
 }
 
 .container .shopping-cart table .table-bottom{
    background-color: var(--light-bg);
 }
 
 .container .shopping-cart table tr td{
    padding:10px;
    font-size: 20px;
    color:var(--black);
 }
 
 .container .shopping-cart table tr td:nth-child(1){
    padding:0;
 }
 
 .container .shopping-cart table tr td input[type="number"]{
    width: 80px;
    border:var(--border);
    padding:12px 14px;
    font-size: 20px;
    color:var(--black);
 }
 
 .container .shopping-cart .cart-btn{
    margin-top: 10px;
    text-align: center;
 }
 
 .container .shopping-cart .disabled{
    pointer-events: none;
    background-color: var(--red);
    opacity: .5;
    user-select: none;
 }
 
 
 @media (max-width:1200px){
    .container .shopping-cart{
       overflow-x: scroll;
    }
 
    .container .shopping-cart table{
       width: 1200px;
    }
 }
 
 @media (max-width:450px){
    .container .heading{
       font-size: 30px;
    }
    .container .products .box-container .box img{
       height: 200px;
    }
 } 

.updates {
    color: #000000;
    text-align: center;
    padding: 20px 0;
    border-radius: 1px;
}
footer {
    background-color: rgba(235, 53, 220, 0.7); /* RGB renk değerleri ve 0.7 opaklık */
    color: #000000;
    text-align: center;
    padding: 0px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}